/*!
 * Easy Ride
 * Custom Stylesheet
 */

 .container-narrow {
 	margin: 0 auto;
 	max-width: 700px;
 }
 
 .form-input {
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}