#search .control-label {
    width: 60px;
}

#search .controls {
    margin-left: 80px;
}

#search .form-actions {
    text-align: right;
}

body > .container-fluid > .row-fluid {
    clear: both;
}

#search-bar {
    float: left;
    min-width: 420px;
    margin-right: 15px;
}

#map_canvas {
    min-width: 300px;
    min-height: 500px;
}