.container-fluid .row-fluid {
    overflow: hidden;
}

/*.container-fluid .row-fluid .*/

#share .control-label {
    width: 75px;
}

#share .controls {
    margin-left: 95px;
}

#share .form-actions {
    text-align: right;
}