table.trips {
    margin-top: 20px;
}

table.trips td {
    vertical-align: middle;
}

table.trips .departure { width: 150px; }
table.trips .riders { width: 50px; text-align: center; }
table.trips .action { width: 150px; }

#trips-driving-status {
    text-align: center;
}

#trips-driving-msg {
    display: none;
}

#modal-manage-requests .accordion-toggle {
    display: inline-block;
}

#modal-manage-requests .btn-group {
    display: inline-block;
    float: right;
    margin-right: 12px;
    margin-top: 5px;
}